<header class="site-header inicio mb-5">
    <div class="contenedor contenido-header">
        <h1>Registro e Inicio de sesión</h1>
    </div>
</header>

<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-md-6">
            <form>
                <div class="col-6 bg-dark fondoInicio">
                    <h2 class="tituloInicio">INICIAR SESIÓN</h2>
                    <div class="form-group row">
                        <div class="col-8">
                            <input type="email" class="form-control" placeholder="Correo Electronico">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-8">

                            <input type="password" class="form-control" placeholder="Contraseña">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success ">INICIAR SESIÓN</button>
                </div>


            </form>



        </div>
        <div class="col-md-6">
            <h2 class="tituloRegistro">FORMULARIO DE REGISTRO</h2>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-4">

                        <input type="text" class="form-control" id="input1" placeholder="Nombre">

                        <input type="number" class="form-control mt-4" id="input2" placeholder="Telefono">

                        <input type="password" class="form-control  mt-4" id="input3" placeholder="Contraseña">

                        <input type="text" class="form-control  mt-4" id="input4" placeholder="Ciudad">

                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" id="input5" placeholder="Apellido">

                        <input type="email" class="form-control mt-4" id="input6" placeholder="Correo">

                        <input type="password" class="form-control  mt-4" id="input7" placeholder="Verifique Contraseña">

                        <input type="text" class="form-control  mt-4" id="input8" placeholder="Provincia">

                    </div>

                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                                      Acepto las condiciones y políticas
                                    </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-success col-8 ">REGISTRARSE</button>
            </form>


        </div>

    </div>

</div>