<header class="site-header inicio mb-5">
    <div class="contenedor contenido-header">
        <h1>CONTACTO</h1>
    </div>
</header>
<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-md-8 ">
            <form>
                <div class="fondoIzquierda">
                    <h2 class="tituloContacto">FORMULARIO CONTACTO</h2>
                    <div class="form-group row">
                        <div class="col-5">
                            <input type="text" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="col-5">
                            <input type="number" placeholder="Teléfono" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <input type="email" class="form-control" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-10">
                            <textarea cols="90" rows="5" placeholder="Mensaje" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-success col-4 ">ENVIAR</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 bg-dark">
            <div class="container parrafos">
                <div class="container parrafos">
                    <h4>ATENCIÓN AL CLIENTE</h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
                    </p>
                    <h4>HORARIO</h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
                    </p>
                    <h4>INFORMACIÓN CONTACTO</h4>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.897883286995!2d-78.48630974789688!3d-0.1926508104074279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a700b83e115%3A0x4029f501fe2cbde0!2sCzech%20College%20in%20Quito!5e0!3m2!1ses-419!2sec!4v1600302862264!5m2!1ses-419!2sec"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section>