<header class="site-header inicio mb-5">
    <div class="contenedor contenido-header">
        <h1>COMPRA</h1>
    </div>
</header>
<div class="container ">
    <div class="container  mb-5 ">
        <form class="m-5">
            <div class="absolute-center bloque">
                <h2>FORMULARIO COMPRA</h2>
                <div class="form-group row">
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Nombre" width="20px">
                    </div>
                    <div class="col-6">
                        <input type="number" class="form-control" placeholder="Télefono">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input type="email" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Pago Efectivo">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <textarea cols="20" rows="5" placeholder="Dirección" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="container text-center">
                <div class="col text-center">
                    <button class="btn btn-success btn-block centrado">COMPRAR</button>
                </div>
            </div>
        </form>
    </div>
</div>