<header class="site-header inicio mb-5">
    <div class="contenedor contenido-header">
        <h1>Administración </h1>
    </div>
</header>

<div class="container mb-5">
  <button class="btn btn-primary btn-block mx-2" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Administrar Pedidos</button>
    <button class="btn btn-primary btn-block mx-2" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Administrar Productos</button>
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <app-pedidos></app-pedidos>
      </div>
    </div>
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        <app-productos-admin></app-productos-admin>
      </div>
    </div>
  
    <!-- <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Administrar Pedidos
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <app-pedidos></app-pedidos>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Administrar Productos
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <app-productos-admin></app-productos-admin>
          </div>
        </div>
        
      </div> -->


</div>