<header class="site-header inicio mb-5">
    <div class="contenedor contenido-header">
        <h1>¿QUIÉNES SOMOS?</h1>
    </div>
</header>


<div class="container">
    <div class="row featurette">
        <div class="col-md-7">
            <img src="../../../assets/img/img_about/Rectangle 5.png" class="img-fluid" style="height: 400px; width: 500px;">
        </div>
        <div class="col-md-5">

            <h2 class="featurette-heading">Quiénes Somos</h2>
            <p class="text-justify">Nullam tincidunt felis at imperdiet posuere. Nam a felis tincidunt, suscipit tortor at, venenatis tellus. Morbi viverra dui in gravida tempor. Vestibulum pretium, nisl et lacinia blandit, libero elit commodo ante, vitae bibendum mauris leo
                eget odio. Curabitur ullamcorper, nisi ac volutpat consequat, dui arcu ultrices quam, et euismod diam dolor commodo dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras eu mattis purus,
                a lobortis tortor. Nulla non odio porta purus dictum malesuada. Aliquam turpis nibh, tempor ut semper vel, vestibulum id sem. Suspendisse vulputate orci ut mauris fringilla bibendum pellentesque in nulla. Fusce nec arcu sit amet nibh eleifend
                hendrerit non id arcu. Mauris at imperdiet eros. Phasellus quis consequat mi. Proin neque libero, semper eu ultricies at, lobortis in velit. Sed dolor sapien, blandit a mauris sit amet, posuere gravida leo. Ut feugiat ante at massa pretium
                condimentum.
            </p>
            <div class="row mb-5">
                <div class="col-md-6">
                    <img src="../../../assets/img/img_about/Rectangle 7.png" class="img-fluid" style="height: 100px; width: 500px;">
                </div>
                <div class="col-md-6">
                    <img src="../../../assets/img/img_about/Rectangle 8.png" class="img-fluid" style="height: 100px; width: 500px;">
                </div>
            </div>


        </div>
    </div>
</div>